@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right {
    margin-right: 12px;
}

#workspaces {
    background-color: @background;
    padding: 5px 5px 5px 5px;
    border-radius: 50px;
    margin-left: 12px;
    /* border: 2px solid #44475a; */
}

#workspaces button.active {
    background-color: @primary_fixed_dim;
    color: @on_primary_fixed;
    padding: 5px 24px;
}

#workspaces button:active:hover {
    color: @primary_fixed_dim;
    background: inherit;
}

#workspaces button.empty {
    color: @outline_variant;
}

#workspaces button {
    background-color: transparent;
    color: @outline;
    border-radius: 50px;
    transition: margin 150ms ease-in-out, padding 150ms ease-in-out;
    transition: background-color 0.3s ease, color 0.3s ease, padding 0.2s ease;
}

#workspaces button:hover {
    background: @background_high;
}

#workspaces button.urgent {
    background-color: @error;
    color: @on_error;
}

#custom-archlogo,
#clock,
#battery,
#backlight,
#network,
#scratchpad,
#power-profiles-daemon,
#mpd,
#window {
    color: @primary;
    background-color: @background;
    padding: 0 20px 0 20px;
    margin: 0 0 0 12px;
}

#window.hidden {
    opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #power-profiles-daemon { */
    /* padding-right: 15px; */
/* } */

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio-slider {
    color: @primary;
    background-color: @transparent;
    padding: 0 20px 0 0px;
    /* padding: 0 20px 0 20px; */
    margin: 0 0 0 -100px;
    /* margin: 0 0 0 12px; */
}
#pulseaudio {
    color: @primary;
    background-color: @background;
    padding: 0 20px 0 20px;
    margin: 0 0 0 12px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-image: none;
    opacity: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 5px;
    background-image: none;
    background-color: @inverse_primary;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-image: none;
    background-color: @primary;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

